body {
    display: grid;
    grid-template: 
                "a a a a" auto
                "b b c c" auto
                "d d d d" auto / 1fr 1fr 1fr 1fr;
}
main {
    grid-area: 1 / 1 / 2 / 5;
}
h1, h2, #navBar {
    text-align: center;
}

#navBar li {
    display: inline;
    padding: 1rem;
}

.idxSections {
    
}

#meBrief {
    grid-area: 2 / 1 / 3 / 3
}

#meBrief ul {
    padding-left: 1rem;
    list-style: outside;
}

#featProjects {
    grid-area: 2 / 3 / 3 / 5
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#projList {
    cursor: pointer;
}

main {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
}

.projDeets {

}

#proj1 {
    grid-area: 3 / 1 / 4 / 4;
    display: none;
}
#proj2 {
    grid-area: 3 / 1 / 4 / 4;
    display: none;
}
#proj3 {
    grid-area: 3 / 1 / 4 / 4;
    display: none;
}
#proj4 {
    grid-area: 3 / 1 / 4 / 4;
    display: none;
}
#proj5 {
    grid-area: 3 / 1 / 4 / 4;
    display: none;
}

#proj1 li:before {
    content:"\2714\0020";
}

.sublist1 {
    padding-left: 1em;
}
#sublistProj1 li:before {
    content:"\2611\0020";
}

#meVerbose {
    grid-area: 2 / 1 / 3 / 3
}

#mePhotos {
    grid-area: 2 / 3 / 3 / 5
}

#meSocial {
    grid-area: 3 / 1 / 4 / 5
}

.aboutSection {
    background-color: blue;
}